@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$primary-color: #84669b;
$secondary-color: #f4f4f4;
$text-color: #333;

// Fonts
$font-primary: "Raleway", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Spacing
$padding: 16px;
